@import "variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .go-button {
  width: 238px;
  height: 57px;
  border: $border;
  background: $button-pink;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: inherit;
  color: $gray;
  font-weight: bold;
} */
