@import "variables";
@import "globalStyling";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: #c59c9c;
  width: 100vw;
  height: 100vh;
  #blogPage-bloger-container {
    padding-top: 100px;
    //background-color: #c59c9c;

    display: flex;
    flex-direction: column;
    align-items: center;
    #blogPage-bloger-name {
      color: $gray;
      font-size: 1.5rem;
    }
    #blogPage-img-container {
      width: 80%;
      border-radius: 10px;
      #blogger-image {
        width: 100%;
        border: $border;
        border-radius: 10px;
      }
    }
    #blogPage-bloger-description {
      width: 80%;
      border: $border;
      border-radius: 10px;
      background-color: $light-gray;
    }
  }
  #blogPage-blog-post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .blog-title {
      color: $gray;
      font-size: 1.5rem;
    }
    .image-container {
      width: 80%;
      border-radius: 10px;

      .blog-image {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .blog-text {
      word-wrap: break-word;
      width: 80%;
      background: $light-gray;
      border: $border;
      border-radius: 10px;
      font-size: 1.2rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      overflow: hidden;
    }
  }
  #blogPage-bloger-copyright {
    font-size: 0.5rem;
  }
}
