@import "variables";
@import "globalStyling";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}
body {
  #create-background-container {
    padding-top: 100px;
    background-image: url(../../dist/assets/blogme-create-skyline.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .input-container {
      width: 80%;
      .global-input-text {
        padding-left: 3px;
      }
      .global-input {
        width: 100%;
        min-height: 55px;
        background: $light-gray;
        border: $border;
        border-radius: 10px;
        font-size: 1.2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 20px;
      }
    }
    .go-button {
      width: 238px;
      height: 57px;
      border: $border;
      background: $button-pink;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      font-size: 1.8rem;
      font-family: inherit;
      color: $gray;
      font-weight: bold;
      margin-bottom: 50px;
      transition: all 0.2s ease;
      &:hover {
        background: $button-hover;
        width: 230px;
      }
    }
  }
}
