@import "variables";
@import "globalStyling";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  #start-backgound-container {
    background-image: url(../assets/blogme-start-skyline.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #start-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    h1 {
      margin-top: 100px;
      color: $gray;
    }
    h2 {
      color: $gray;
    }
  }
  .go-button {
    width: 238px;
    height: 57px;
    border: $border;
    background: $button-pink;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.8rem;
    font-family: inherit;
    color: $gray;
    font-weight: bold;
    margin-bottom: 50px;
    transition: all 0.2s ease;
    &:hover {
      background: $button-hover;
      width: 230px;
    }
  }
}
